<%- include('menu')%>

<div class="container">
  <h1>Add User</h1>
  <form action="/useraction" method="Post">
    <input type="text" placeholder="Name" name="name" /><br />
    <input type="text" placeholder="Email" name="email" /><br />
    <input type="text" placeholder="Mobile No" name="mobile" /><br/>
    <button>Add</button>
  </form>
</div>
